# OSINT Engine Operating Mode
# Options: LIVE or SIMULATION
OSINT_MODE=LIVE

# Optional Third-Party OSINT API Keys
# (The tool runs live network recon even without these keys, but these keys unlock full deep intel scans)

# Shodan API Key (https://account.shodan.io/)
SHODAN_API_KEY=t44czSkyYvQ9a0ssm4pVFEttLbitkHfS

# VirusTotal API Key (https://www.virustotal.com/gui/my-apikey)
VIRUSTOTAL_API_KEY=f2cd68b9468f8f3ecc677dc4259c90c65385c914379a8b99151b9a522aa6f9c0

# HaveIBeenPwned API Key (https://haveibeenpwned.com/API/Key)
HIBP_API_KEY=

# Local SpiderFoot REST Daemon Endpoint (Default: http://127.0.0.1:5001)
SPIDERFOOT_SERVER=http://127.0.0.1:5001
